@import 'node_modules/rc-calendar/assets/index';
@import 'node_modules/rc-time-picker/assets/index';

html {
  --panel-width: 250px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  width: var(--panel-width);
  cursor: default;
  overflow: hidden;
}

body {
  margin: 0 0 50px 0;
}

.header {
  color: #999999;
}

#manage .header,
#calendar .header {
  justify-content: center;
}

.header > .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.header,
.footer,
li {
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

li.entry:hover,
li.option:hover {
  cursor: pointer;
  background: #e3e3e3;
}

li.entry:active,
li.option:active {
  background: #d4d4d4;
}


.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  background: #efefef;
  font-size: 12px;
  line-height: 13px;
  justify-content: center;
  border-top: 1px solid #d4d4d4;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.footer > div {
  flex-grow: 1;
}

.footer > div > span {
  display: block;
  margin: 14px 0 0 0;
  text-align: center;
}


.footer > .manage, .footer > .back, .footer > .confirm {
  cursor: pointer;
}

.footer:active {
  background: #b1b1b1;
}

.footer .back {
  background: #f2f2f2;
}

.footer .confirm {
  background: #1e98f5;
  color: #ffffff;
}

.entry > .icon,
.option > .icon {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}

.entry > .content,
.option > .title {
  flex: 1 0 0;
}

.date {
  text-align: right;
  font-size: 12px;
  line-height: 13px;
  color: #999999;
}

.entry > .date {
  flex: 0 0 45px;
}

.option > .date {
  flex: 0 0 65px;
}

.entry > .content {
  overflow: hidden;
}

.entry .title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
}

.entry .url {
  font-size: 12px;
  line-height: 13px;
  color: #999999;
}

#calendar,
#manage {
  transition: left 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: calc(var(--panel-width) + 3px);
  width: 100%;
  height: 100%;
  background: #fff;
}

#calendar.active,
#manage.active {
  left: 0;
}

.rc-calendar {
  border: none;
  box-shadow: none;
}

.rc-calendar-footer {
  padding: 10px 0;
}

.rc-calendar-date {
  width: 24px;
  height: 24px;
}

.rc-calendar-body {
  padding: 2px 2px 5px 2px;
  height: inherit;
}

.rc-calendar-time-picker-panel .rc-time-picker-panel-select ul {
  max-height: 190px;
}

.rc-calendar-footer-btn {
  display: flex;
  flex-direction: row;
}
.rc-calendar-footer-btn > a {
  flex-grow: 1;
}
