@import 'node_modules/rc-calendar/assets/index';
@import 'node_modules/rc-time-picker/assets/index';

$panel-width: 250px;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  width: $panel-width;
  cursor: default;
  overflow: hidden;
}

body {
  margin: 0 0 50px 0;
}

.header {
  color: #999999;
  border-bottom: 1px solid #e9e9e9;
}

#manage .header,
#calendar .header {
  justify-content: center;
}

.header > .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.header,
.footer,
li {
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

ul.entries {
  height: 284px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.entry {
  transition: margin-left 150ms ease-in-out;
  margin-left: 0;
  padding: 0;
  width: calc(100% + 50px);
  min-height: 50px;
  cursor: pointer;

  display: flex;
  align-items: stretch;

  &:hover {
    margin-left: -50px;
    background-color: #f2f2f2;
  }

  .icon {
    flex-grow: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .date {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 4px 4px 0;
    line-height: 1.5em;
    font-size: 10px;

    &:hover { color: #38ABDB; }

    span {
      display: block;
      text-align: right;
    }
  }

  .content {
    flex: 1 0 0;
    flex-grow: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    white-space: nowrap;
    padding: 0 4px;

    .title {
      color: #333;
      &:hover { color: #000; }

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      line-height: 14px;
    }

    .url {
      font-size: 11px;
      line-height: 13px;
      color: #999999;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .delete {
    flex-grow: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    background: #D82016;
    text-align: center;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

li.option {
  &:hover {
    cursor: pointer;
    background: #e3e3e3;
  }

  &:active {
    background: #d4d4d4;
  }
}


.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  background: #efefef;
  font-size: 12px;
  line-height: 13px;
  justify-content: center;
  border-top: 1px solid #d4d4d4;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;

  &:active {
    background: #b1b1b1;
  }
}

.footer > div {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & > span {
    display: block;
    margin: 0;
    text-align: center;
  }
}

.footer .back {
  background: #f2f2f2;
}

.footer .confirm {
  background: #1e98f5;
  color: #ffffff;
}

.option > .icon {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}

.option > .title {
  flex: 1 0 0;
}

.date {
  text-align: right;
  font-size: 12px;
  line-height: 13px;
  color: #999999;
}

.option > .date {
  flex: 0 0 65px;
}

#calendar,
#manageCalendar,
#manage {
  transition: left 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: calc($panel-width + 3px);
  width: 100%;
  height: 100%;
  background: #fff;
}

#calendar.active,
#manageCalendar.active,
#manage.active {
  left: 0;
}

.rc-calendar {
  border: 0;
  box-shadow: none;
}

.rc-calendar-footer {
  padding: 10px 0;
}

.rc-calendar-date {
  width: 24px;
  height: 24px;
}

.rc-calendar-body {
  padding: 2px 2px 5px 2px;
  height: inherit;
}

.rc-calendar-time-picker-panel .rc-time-picker-panel-select ul {
  max-height: 190px;
}

.rc-calendar-footer-btn {
  display: flex;
  flex-direction: row;
}

.rc-calendar-footer-btn > a {
  flex-grow: 1;
}
