@import 'node_modules/rc-calendar/assets/index';
@import 'node_modules/rc-time-picker/assets/index';
@import 'node_modules/photon-colors/colors.scss';

$panel-width: 320px;
$panel-shadow-width: 13px;
$white: #fff;
$black: #000;
$black-a05: rgba(0, 0, 0, .05);

@font-face {
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: $white;
  box-sizing: border-box;
  color: $grey-90;
  cursor: default;
  font-size: 13px;
  font: message-box;
  height: 100%;
  letter-spacing: -.69px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  -moz-user-select: none;
  user-select: none;
}

#app {
  background: $grey-20;
  height: 393px;
  width: 320px;
}

.development #app {
  height: 443px;
}

.panel-wrapper {
  background-color: $grey-70;
}

.panel {
  align-items: stretch;
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 100%;
  margin: 0;
  opacity: .3;
  position: absolute;
  top: 0;
  transition: left 250ms ease-in-out, opacity 250ms ease-in-out, visibility 250 ease-in-out;
  width: calc(100% - 13px);

  &.active {
    left: $panel-shadow-width;
    opacity: 1;
    visibility: visible;
  }

  &.obscured {
    left: $panel-shadow-width;
    opacity: .6;
  }

  &.static {
    left: 0;
    transition: opacity 250ms ease-in-out;
    width: 100%;
  }

  &.static.active {
    left: 0;
    transition: opacity 250ms ease-in-out;
  }

  > .content {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
}

.panel-enter > .panel ,
.panel.panel-enter {
  left: $panel-width + $panel-shadow-width;
  opacity: .3;
  transition: left 250ms ease-in-out, opacity 250ms ease-in-out;
}

.panel-enter-active > .panel,
.panel.panel-enter-active {
  left: $panel-shadow-width;
  opacity: 1;
}

.panel-leave > .panel,
.panel.panel-leave {
  left: $panel-shadow-width;
  opacity: 1;
  transition: left 250ms ease-in-out, opacity 250ms ease-in-out;
}

.panel-leave-active > .panel,
.panel.panel-leave-active {
  left: $panel-width + $panel-shadow-width;
  opacity: .3;
}

.header {
  border-bottom: 1px solid $grey-30;
  font-size: 15px;
  height: 50px;
  justify-content: center;
  margin: 0;
}

.header > .icon {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li,
.header,
.footer {
  display: flex;
  padding: 1px 10px;
}

li,
.header {
  align-items: center;
}


.active li.option {
  &:hover,
  &:focus {
    background: $black-a05;

    .title,
    .date {
      border-top-color: transparent;
    }

    + .option {
      .date,
      .title {
        border-top-color: transparent;
      }
    }
  }
}

ul.times {
  li.option {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    outline: 0;
    padding: 0 5px 0 20px;

    .title,
    .date,
    .icon {
      box-sizing: border-box;
    }

    &:first-child {
      .title,
      .date {
        border-top: 0;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      flex-grow: 0;
      width: 18px;
      margin-right: 20px;
    }

    .title {
      align-items: center;
      border-top: 1px solid $grey-30;
      display: flex;
      flex: 1 0 0;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      align-items: center;
      border-top: 1px solid $grey-30;
      color: $grey-50;
      cursor: pointer;
      display: flex;
      flex-grow: 0;
      flex: 0 0 72px;
      font-size: 11px;
      justify-content: flex-end;
      letter-spacing: -.52px;
      line-height: 16px;
      min-width: 1em;
      text-align: right;
      padding-right: 20px;


      &#next {
        cursor: default;
      }

      &:hover,
      &:focus {
        color: $blue-60;
      }

      &:active {
        outline: 0;
      }
    }

    &#pick .date {
      &::after {
        content: '\25b6';
        line-height: 16px;
        color: $grey-60;
      }
    }
  }
}

div.empty-entries {
  color: $grey-40;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
  justify-content: center;
  text-align: center;

  .icon img {
    opacity: .6;
  }

  .message {
    padding: 12px;
  }
}

ul.entries {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

li.entry {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  margin-left: 0;
  min-height: 50px;
  opacity: 1;
  padding: 0;
  transition: margin-left 150ms ease-in-out, opacity 150ms ease-in-out;
  width: calc(100% + 50px);

  &:hover {
    background-color: $black-a05;
    margin-left: -50px;
  }

  &:focus {
    background-color: $black-a05;
    margin-left: 0;
  }

  &:active {
    outline: 0;
  }

  .icon {
    align-items: center;
    display: flex;
    flex-grow: 0;
    height: 50px;
    justify-content: center;
    text-align: center;
    width: 50px;


    img {
      height: 20px;
      width: 20px;
    }
  }

  .date {
    align-items: flex-end;
    border-bottom: 1px solid $grey-30;
    color: $grey-50;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex: 0 0 72px;
    font-size: 11px;
    justify-content: center;
    letter-spacing: -.52px;
    line-height: 16px;
    margin-right: 5px;
    min-width: 1em;
    padding-right: 20px;
    text-align: right;

    &.editable {
      &:hover,
      &:focus {
        color: $blue-50;
      }
    }

    span {
      display: block;
      text-align: right;
    }
  }

  .content {
    border-bottom: 1px solid $grey-30;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex: 1 0 0;
    justify-content: center;
    line-height: 1.5em;
    overflow: hidden;
    padding: 0 4px 0 4px;
    white-space: nowrap;

    .title {
      color: $black;
      font-size: 13px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover
      &:focus {
        color: $black;
      }

      &:active {
        outline: 0;
      }
    }

    .url {
      color: $grey-50;
      font-size: 11px;
      line-height: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.undo {
    .date,
    .content {
      opacity: .4;
    }
  }

  .delete,
  .undo {
    align-items: center;
    background: $red-60;
    color: $white;
    display: flex;
    flex-grow: 0;
    font-size: 12px;
    height: 50px;
    justify-content: center;
    line-height: 16px;
    text-align: center;
    width: 50px;

    &:hover,
    &:focus {
      background: $red-70;
    }

    img {
      height: 16px;
      width: 16px;
    }
  }
}

.footer {
  align-items: stretch;
  background: $grey-10;
  border-top: 1px solid $grey-30;
  flex-direction: row;
  font-size: 11px;
  height: 42px;
  justify-content: flex-start;
  padding: 0;
  width: 100%;

  & > .manage {
    padding: 0 20px;
    justify-content: flex-start;
  }

  .active & > div {
    cursor: pointer;

    &:hover,
    &:focus {
      background: $grey-30;
    }

    &:active {
      background: $grey-30;
      outline: 0;
    }
  }

  & > div {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    outline: 0;

    & > span {
      display: block;
      margin: 0;
      text-align: center;
    }
  }

  .confirm {
    background: $blue-50;
    color: $white;

    &:hover,
    &:focus {
      background: $blue-60;
    }

    &:active {
      background: $blue-70;
      outline: 0;
    }

  }

  .disabled {
    cursor: not-allowed;
    opacity: .4;

    &:hover {
      background: $blue-50;
    }
  }

  &.hide {
    display: none;
  }
}

.rc-calendar {
  border: 0;
  box-shadow: none;
  flex: 1;
  font-size: 14px;
  letter-spacing: -.69px;
  padding: 16px 16px 8px;
  width: 100%;
}

.rc-calendar-date-panel {
  border: 1px solid $grey-30;
  border-radius: 2px;
}

.rc-calendar-header {
  background: $black-a05;
  border-bottom: 0;

  a {
    color: $grey-90;

    &:hover {
      color: $blue-50;
    }
  }

  .rc-calendar-prev-month-btn {
    left: 50px;

    &::after {
      content: '\25C0';
    }
  }

  .rc-calendar-next-month-btn {
    right: 50px;

    &::after {
      content: '\25b6';
    }
  }

  .rc-calendar-next-year-btn,
  .rc-calendar-prev-year-btn {
    display: none;
  }

  .rc-calendar-year-select,
  .rc-calendar-month-select,
  .rc-calendar-day-select {
    font-size: 13px;
    padding: 0 .25em;
  }

}

.rc-calendar-footer {
  border-top: 0;
  padding: 0;
}

.manage-confirm {
  align-items: center;
  color: $grey-50;
  display: flex;
  font-size: 11px;
  justify-content: center;
  margin: 0;
  padding: 8px;
}

#confirm-checkbox {
  margin-left: -2px;
  margin-right: 8px;
}

.rc-calendar-body {
  height: inherit;
  padding: 0;
}

.rc-calendar-table {
  thead tr {
    background: $black-a05;
  }
}

.rc-calendar-tbody {

  tr {
    &:nth-child(even) {
      background: $black-a05;
    }
  }

  .rc-calendar-date {
    border-radius: 13px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    width: 26px;

    &:hover {
      background: $grey-30;
    }
  }

  .rc-calendar-today .rc-calendar-date {
    background: $grey-50;
    border-color: $grey-50;
    color: $white;
  }

  .rc-calendar-selected-day .rc-calendar-date {
    background: $blue-50;
    border-color: $blue-50;
    color: $white;
  }

  .rc-calendar-disabled-cell .rc-calendar-date,
  .rc-calendar-next-month-btn-day .rc-calendar-date {
    background: transparent;
    color: $grey-40;
  }

  .rc-calendar-next-month-btn-day .rc-calendar-date {
    &:hover {
      background: $grey-30;
    }
  }
}

.rc-calendar-month-panel-body {
  padding: 1px;
}

.rc-calendar-decade-panel-table,
.rc-calendar-year-panel-table,
.rc-calendar-month-panel-table {
  height: 180px;
}

.rc-calendar-footer-btn {
  display: flex;
  flex-direction: row;
}

.rc-calendar-footer-btn > a {
  flex-grow: 1;
}

.rc-calendar-decade-panel-decade,
.rc-calendar-year-panel-year {
  height: 18px;
  line-height: 18px;
}

.time-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.rc-time-picker {
  .rc-time-picker-input {
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    width: 7.85em;
  }
}

.rc-time-picker-panel {

  .rc-time-picker-panel-input {
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    width: 7.85em;
  }

  .rc-time-picker-panel-inner {
    border-radius: 2px;
  }

  .rc-time-picker-panel-input-wrap {
    padding: 0;
  }

  .rc-time-picker-panel-select ul li {
    font-size: 14px;

    &:hover {
      background: $grey-30;
    }

    &.rc-time-picker-panel-select-option-selected {
      background: $blue-50;
      color: $white;
    }
  }
}

div {
  &[dir='rtl'] {
    .panel {
      left: calc(0 - 100%);
      transition: left 250ms ease-in-out, opacity 250ms ease-in-out;
    }

    .panel-enter > .panel ,
    .panel.panel-enter {
      left: 0 - $panel-width + $panel-shadow-width;
    }

    .panel-leave-active > .panel,
    .panel.panel-leave-active {
      left: 0 - $panel-width + $panel-shadow-width;
    }

    ul.times {
      li.option {
        padding: 0 20px 0 5px;

        .date {
          padding-left: 20px;
          padding-right: 0;
          text-align: left;
        }

        .icon {
          margin-left: 20px;
          margin-right: 0;
        }

        &#pick .date {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }

    #confirm-checkbox {
      margin-left: 8px;
      margin-right: -2px;
    }

    li.entry {
      transition: margin-right 150ms ease-in-out, opacity 250ms ease-in-out;

      &:hover,
      &:focus {
        background-color: $grey-10;
        margin-left: 0;
        margin-right: -50px;
      }

      .date {
        margin-left: 5px;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 0;
        text-align: left;
      }
    }
  }
}
