/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */


/* Base section */

html,
body {
  /* Child flex sizing */
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;

  -moz-user-select: none;
  cursor: default;

  /* Typography and Colours */
  font: normal 16px/19px Lucida, "Lucida Grande";
}

body {
  /* Parent sizing */
  width: 100%;
  height: 100%;
  position: relative;

  /* Child flex sizing */
  display: flex;
  flex-direction: row;
}

/* First, button pane. */

#buttons {
  top: 0px;
  width: 240px;
  transition: margin-left 0.5s;
  z-index: 2;
}

/* Thumbnail section */

#thumbnail {
  /* Parent flex sizing */
  width: 100px;
  height: 100px;
  flex: none;

  /* Child flex sizing */
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* Typography and Colours */
  background: #F7F7F7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-image: url("PanelHeader.png");
}

@media (min-resolution: 2dppx) {
  #thumbnail {
    background-image: url("PanelHeader@2x.png");
  }
}


/* Middle section */

#middle {
  /* Parent flex sizing */
  flex: auto;

  /* Child flex sizing */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  /* Typography and Colours */
  background: #F2F2F2;
}

.top {
  flex: 1;
  padding: 15px;
  text-align: left;
}

.button {
  /* Parent flex sizing */
  flex: 0 0 auto;

  /* Child flex sizing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  /* Typography and Colours */
  cursor: pointer;
  transition: box-shadow .2s, background .2s;
  background-position: top center;
  background-repeat: no-repeat;
}

.button:hover {
  /* Typography and Colours */
  box-shadow: 0px 0px 1px 1px #A0A0A0;
  background-color: #FAFAFA;
}

/* Bottom section */

.bottom {
  /* Parent flex sizing */
  width: 100%;
  flex: none;

  /* Child flex sizing */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* Typography and Colours */
  font-size: 10px;
  line-height: 12px;
  background: #E7E7E7;
  color: #505050;
}

.bottom > div {
  padding: 10px;
}
